<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASPOrientationIOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F4F757922D0B51600EFFE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F4F758D22D0B51900EFFE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F4F759822D0B51900EFFE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
